name: Build and Lint (frontend)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: main
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: pnpm --filter=frontend build
      - run: pnpm --filter=frontend lint
      - run: pnpm --filter=frontend-greeting-next build
      - run: pnpm --filter=frontend-greeting-next lint
      - run: pnpm --filter=frontend-counter-react build
      - run: pnpm --filter=frontend-counter-react lint
